<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-9">
        <h2>Meet The Staff</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            App Views
        </li>
        <li class="active">
            <strong>Contacts</strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('boggs2.jpeg') %>">
                <h3><strong>Brandon Boggs, MD, FAAFP</strong></h3>
                <div class="m-t-xs font-bold">
                Executive Director Board Certified 
                <br>
                Family Practice Physician</div>
                </center>
                <br>
                <address>
                Dr. Boggs joined SHS in 2012 as Medical Director and took on the role as Executive Director for Health Services and CAPS in 2014.  He is board certified in Family Medicine and a Fellow of the American Academy of Family Physicians.  He received his Bachelor of Science degree from Brigham Young University in 1996, his Medical Degree from The Chicago Medical School in 2000, completed his residency training at the University of Nevada School of Medicine, Reno in 2003 and was board certified in Family Medicine in 2003.  He has practiced in the outpatient and inpatient hospital settings and as an emergency room physician since 2002.  He also served as Medical Director of the Emergency Department and Chief of Emergency Medicine at a local hospital for over 7 years.  He has also served as an outreach clinical preceptor for UC Davis and in other teaching settings. He is certified in Advanced Cardiac Life Support and Pediatric Advanced Life Support.
                </address>
            </div>
            <div class="clearfix"></div>
</div> <!-- col md 4-->


    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('greg.jpg') %>">
                <h3><strong>Greg Spurgeon, MHA</strong></h3>
                    <div class="m-t-xs font-bold">
                    Associate Director
                    </div>
                </center>
                <br>
                <address>
                Greg joined SHS with UC Merced's campus opening in 2005. He received his Bachelor of Science degree from San Francisco State University in 1981 and his Masters in Health Admininstration in 1992. Greg has worked in health care operations in many settings since 1981 including hospitals, outpatient service facilities, workers compensation care, hospice care, and community health centers before coming to UC Merced. He is on the faculty for the American Heart Association and teaches Basic Life Support for medical providers and HeartSaver CPR/First Aid courses for the community.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->

    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('brinkop.JPG') %>">
                <h3><strong>Michelle Brinkop, MD</strong></h3>
                    <div class="m-t-xs font-bold">
                    Staff Physician Board Certified 
                    <br>
                    Family Practice Physician
                    </div>
                </center>
                <br>
                <address>
                Dr. Brinkop joined the SHS in 2007 as a staff physician. She is board certified in Family Medicine. She received her Bachelor of Arts degree from UC Davis in 1990 and her Bachelor of Science degree from Cal State in 1992, her Medical degree from the University of Nevada in 1999, and completed residency training at the UC Davis, Merced program in 2003 and was board certified in Family Medicine in 2003. She also practiced medicine at Golden Valley Health Center for 5 years and enjoys focusing her practice on women’s health, infectious disease and travel medicine. She is certified in Basic Life Support. Dr. Brinkop is certified by the American Academy of Family Physicians.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->
</div> <!-- row -->


<div class="row">
    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('max2.jpg') %>">
                <h3><strong>Max Maude, PA-C </strong></h3>
                    <div class="m-t-xs font-bold">
                    Certified Physician Assistant
                    </div>
                </center>
                <br>
                <address>
                Max joined SHS in 2012 as a Physician Assistant. He completed his Physician Assistant program at Western University of Health Sciences in Pomona, California in 2001. He became board certified in 2002 by the NCCPA. He has practiced for 10 years in radiation/oncology, pain management, adult medicine and emergency medicine. He also currently works in emergency medicine at multiple hospitals in the Central Valley. He also has interests and experience in complimentary medicine. He is certified in Advanced Cardiac Life Support and Pediatric Advanced Life Support.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('allyson.JPG') %>">
                <h3><strong>Allyson Holman, PAC</strong></h3>
                </center>
                <br>
                <address>
                Allyson Holman joined the SHS in 2014 as a Physician Assistant. She completed her Physician Assistant degree at UC Davis in 2010. She became board certified in 2010 by the NCCPA. She has practiced for 4 years at Golden Valley Health center in the urgent care, family medicine and psychiatry clinics. She received her Bachelors of Arts degree from UC Santa Cruz in 2002. She also volunteered in the Peace Corps for two years as a community health educator in Peru. She is certified in Basic Life Support.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('viers2.jpg') %>">
                <h3><strong>Gillian Viers, NP-C</strong></h3>
                    <div class="m-t-xs font-bold">
                    Certified Nurse Practitioner
                    </div>
                </center>
                <br>
                <address>
                Gillian joined the SHS as a Nurse Practitioner in 2013. She graduated from the Family Nurse Practitioner program at the University of California, San Francisco in 2005. Prior to attending UCSF she received her BSN from the University of Virginia in 2001 and a BS in Biological Sciences from UC Davis in 1997. She has experience working as a nurse practitioner in both urgent care and reproductive health. She is certified in Basic Life Support. Gillian is certified by the American Academy of Nurse Practitioners.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->
</div> <!-- end row -->




<div class="row">
    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('pam.JPG') %>">
                <h3><strong>Pam Fisher, NP </strong></h3>
                </center>
                <br>
                <address>
                 Pamela joined the SHS in 2015 as Nurse Practitioner. She graduated from the Family Nurse Practitioner Program at Sonoma State University in 2013. Prior to attending Sonoma State, she received her BSN at CSU Stanislaus in 2010. She has practiced as a Nurse Practitioner in Family Practice and Urgent Care, and has Nursing background in Neurological and Trauma Critical Care. Pamela is certified in BLS and by the American Nurse Credentialing Center as a Nurse Practitioner.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('elizabeth.JPG') %>">
                <h3><strong>Elizabeth Wiggins, RN</strong></h3>
                    <div class="m-t-xs font-bold">
                    Registered Nurse
                    </div>
                </center>
                <br>
                <address>
                Liz joined SHS in 2009 as a Registered Nurse. She received her Nursing Degrees from Merced College which include RN and ASN. She has worked as an Emergency Room nurse, Surgery Center nurse circulator and as a Pre-op and Post-op nurse at an Interventional Pain Center. She has clinical interests in primary care, urgent care, preventative medicine and women’s health. She is certified in Basic Life Support. Elizabeth Wiggins is licensed in the State of California.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('michelle.jpeg') %>">
                <h3><strong>Michelle Law, LVN </strong></h3>
                    <div class="m-t-xs font-bold">
                    Licensed Vocational Nurse
                    </div>
                </center>
                <br>
                <address>
                Michelle joined SHS in 2012 as a licensed vocational nurse. She received her LVN degree from Merced College in 2011. She has worked for 14 years as a medical assistant/back office supervisor at a multispecialty health center and has served as a mentor for medical assistant students and nursing students. She is IV and phlebotomy certified. She is certified in Basic Life Support. Michelle Law is licensed in the State of California.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->
</div> <!-- end row -->





<div class="row">
    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jennifer.jpg') %>">
                <h3><strong>Jennifer Dallas-Goudie, MA </strong></h3>
                </center>
                <br>
                <address>
                 Jennifer joined SHS in 2009. She is a Medical Assistant. She received her Medical Assistant degree from Andon College in Modesto, California. She has over 14 years experience as a Medical Assistant in cardiovascular, diabetic, urgent care, podiatry and adult and child medicine. She is phlebotomy certified. She is certified in Basic Life Support.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('ruby.jpg') %>">
                <h3><strong>Ruby Cahue, MA </strong></h3>
                </center>
                <br>
                <address>
                Ruby joined SHS in 2011. She is a Medical Assistant. She has over ten years experience as a Medical Assistant in a family medicine clinic. She is Basic Life Support certified.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jadira.jpg') %>">
                <h3><strong>Jadira Ruvalcaba-Vidauri, MA </strong></h3>
                    <div class="m-t-xs font-bold">
                    Licensed Vocational Nurse
                    </div>
                </center>
                <br>
                <address>
                Jadira joined SHS in 2014. She is a Medical Assistant. She has seven years experience as a Medical Assistant in family medicine, urgent care and worker’s compensation clinics. She is BLS certified.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->
</div> <!-- end row -->



<div class="row">
    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jennifer.jpg') %>">
                <h3><strong>Julie Vang, MA  </strong></h3>
                </center>
                <br>
                <address>
                 Julie joined SHS in 2014. She is a Certified Medical Assistant. She graduated from Institute of Technology in Modesto. She has been an MA for more than 3 years in a multispecialty clinic. She is certified in Basic Life Support. She is also a Certified Pharmacy Technician for more than 8 years.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->





    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jennifer.jpg') %>">
                <h3><strong>Diana Maravilla  </strong></h3>
                    <div class="m-t-xs font-bold">
                    Clinical Operations Supervisor
                    </div>
                </center>
                <br>
                <address>
                 Diana joined SHS in 2011. Prior to her position at UC Merced, she had 25 years of experience as a Medical Office Manager, Medical Billing Manager, Employee Supervisor in the Merced area. Her specialties in management have been in general medicine, internal medicine and pediatrics. She has also worked with the medical assistance program at the Merced College in placing interns in medical practices to complete their MA course to prepare them for graduation and their future in the medical field.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('ruby.jpg') %>">
                <h3><strong>Darcey Wiens </strong></h3>
                    <div class="m-t-xs font-bold">
                    Insurance & Billing Coordinator
                    </div>
                </center>
                <br>
                <address>
                Darcey joined SHS in 2012. She received her degree from Eton Technical Institute in Port Orchard, Washington as a Medical Billing and Coding Specialist in 2002. She has 12 years of experience as a medical biller. Darcey has worked in a variety of specialties which include primary care, dermatology, and reconstructive surgery in Jacksonville, FL before coming to the UC.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



</div> <!-- end row -->




<div class="row">
    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jadira.jpg') %>">
                <h3><strong>Christina Costa  </strong></h3>
                    <div class="m-t-xs font-bold">
                    Medical Records Receptionist
                    </div>
                </center>
                <br>
                <address>
                Christina joined SHS in 2013. She has over 12 years of experience in the medical field. She worked in a multi-specialty private practice in Watsonville, CA before coming to the UC. She received a degree in Medical Transcription from Cabrillo College in 2001.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->



    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jennifer.jpg') %>">
                <h3><strong>Heather Weigel  </strong></h3>
                    <div class="m-t-xs font-bold">
                    Medical Records Receptionist
                    </div>
                </center>
                <br>
                <address>
                 Heather joined SHS in 2014. She has experience as a Certified Nursing Assistant in home health care and as a receptionist in a medical practice in Merced. She graduated from Merced College in 2008.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->




    <div class="col-md-4">
        <div class="contact-box">
                <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('jadira.jpg') %>">
                <h3><strong>Jasmine Peinado   </strong></h3>
                    <div class="m-t-xs font-bold">
                    Medical Records Receptionist
                    </div>
                </center>
                <br>
                <address>
                Jasmine joined SHS in 2015. She has 3 years of experience as a receptionist in Los Banos, CA prior to working at the UC. She graduate from Merced college in 2014 with an AA in Administrative Medical Office Management, AA Administrative Office Professional and AA Management/Supervisory Training.
                </address>
            </div>
            <div class="clearfix"></div>
    </div> <!-- col md 4-->
</div> <!-- end row -->










<div class="row">
<div class="col-md-4">
    <div class="contact-box">
        <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
        <div class="col-sm-4">
            <div class="text-center">
                <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a1.jpg') %>">
                <div class="m-t-xs font-bold">CEO</div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3><strong>Alex Johnatan</strong></h3>
            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>
        <div class="clearfix"></div>
    </a>
</div>







</div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a3.jpg') %>">
            <div class="m-t-xs font-bold">Marketing manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Monica Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a4.jpg') %>">
            <div class="m-t-xs font-bold">Sales manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Michael Zimber</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a5.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Sandra Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a6.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Janet Carton</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a1.jpg') %>">
            <div class="m-t-xs font-bold">CEO</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Alex Johnatan</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>John Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a3.jpg') %>">
            <div class="m-t-xs font-bold">Marketing manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Monica Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a4.jpg') %>">
            <div class="m-t-xs font-bold">Sales manager</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Michael Zimber</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a5.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Sandra Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a6.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Janet Carton</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>

</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a1.jpg') %>">
            <div class="m-t-xs font-bold">CEO</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>Alex Johnatan</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
<div class="col-lg-4">
<div class="contact-box">
    <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
    <div class="col-sm-4">
        <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3><strong>John Smith</strong></h3>
        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>
    <div class="clearfix"></div>
</a>
</div>
        </div>
        </div>
        </div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>

