<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New Students</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>New Students</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>

                  <b>Welcome to the H. Rajender Reddy Health Center</b>
                  <br><br>
                  Getting ready for college -- it's an exciting and busy time! You're looking forward to new friends, new experiences and a whole new way of life. Part of this new life will be managing your health care on your own, perhaps for the first time.
                  <br><br>
                  The information and links below can help get you started. Pay particular attention to the <a href="/immunizationpolicy.pdf" target="_blank">Immunization Requirements</a> . Then surf around to explore the website. More than a few upperclassmen have said, "I wish I'd known sooner about all the services you have here!"
                  <br><br>
                  Before you come to Merced, there are a number of ways you can plan ahead to avoid or minimize the complications caused by illness.

                  <br><br>
                  <strong>Medical Checklist</strong>
                  <ul class="todo-list m-t small-list">

                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">  <i class="fa fa-pencil-square-o"></i>  Fill out your health waiver.
                          Learn more about completing your <a><%= link_to "health waiver.", waiver_path %></a>
                          </span>
                          <small class="label label-warning"><i class="fa fa-clock-o"></i> Step 1</small>
                      </li>    
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">
                          Bring a first aid kit, including a thermometer. 
                          Remember, once on campus, Health Services is available to all registered students, regardless of health insurance coverage.
                          </span>
                          <small class="label label-primary"><i class="fa fa-clock-o"></i> Step 2</small>
                      </li>               
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">If you are covered under a health insurance plan other than the <a><%= link_to "Student Health Insurance Plan (SHIP)", insurance_path %></a>, carry your insurance card at all times.</a>  
                          </span>
                          <small class="label label-info"><i class="fa fa-clock-o"></i> Step 3</small>
                      </li>
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">Bring a health summary from your health care provider if you have chronic health problems (such as asthma or diabetes). This helps our staff provide you with the best possible care. We also suggest you make an appointment to establish care with a provider before you become ill if you have ongoing health needs.
                          </span>
                          <small class="label label-success"><i class="fa fa-clock-o"></i> Step 4</small>
                      </li>



                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">  <i class="fa fa-pencil-square-o"></i> Document your childhood/young adult immunizations at <a href="http://myhealth.ucmerced.edu" target="_blank"> http://myhealth.ucmerced.edu</a>.  Bring a copy of your immunization record(s) with you to campus and to your first appointment at Health Services.
                          </span>
                          <small class="label label-warning"><i class="fa fa-clock-o"></i> Step 5</small>
                      </li>    
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">
                          UC Merced Health Services has adopted the <a href="/immunizationpolicy.pdf" target="_blank">recommended immunizations</a> of the CDC Advisory Committee on Immunization Practices (ACIP) and the American College Health Association (ACHA).
                          </span>
                          <small class="label label-primary"><i class="fa fa-clock-o"></i> Step 6</small>
                      </li>               
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">Bring enough of your ongoing medications for the first month of school, and bring a copy of the prescription with you. Plan ahead for refills.
                          </span>
                          <small class="label label-info"><i class="fa fa-clock-o"></i> Step 7</small>
                      </li>
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs">New students should be tested for TB within 6 months of coming to campus and provide that information at <a href="http://myhealth.ucmerced.edu" target="_blank"> http://myhealth.ucmerced.edu</a>.  Students will be required to complete an annual TB questionnaire.
                          </span>
                          <small class="label label-success"><i class="fa fa-clock-o"></i> Step 8</small>
                      </li>
                      <li>
                          <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                          <span class="m-l-xs"> <i class="fa fa-phone-square"></i> Give us a call at 209-228-2273 to schedule your appointment today.
                          </span>
                          <small class="label label-warning"><i class="fa fa-clock-o"></i> Step 9</small>
                      </li>    






                  </ul>


                  <br><br>
                  <table class="table table-striped table-condensed table-hover" border="0">
                  <tbody>
                  <tr>
                  <th>Learn About</th>
                  <th>Resource</th>
                  </tr>

                  <tr>
                    <td>Health Center</td>
                    <td>Read a general <a><%= link_to "overview", about_path %></a> of the H. Rajender Reddy Health Center and all it has to offer. Also see <a><%= link_to "Meet the Staff", meetthestaff_path %></a>.</td>
                  </tr>

                  <tr>
                    <td>Appointments</td>
                    <td>See <a><%= link_to "Medical Appointments", appointments_path %></a> to get started at Health Services and learn how to prepare for your medical appointments, what to expect during and after a clinical visit, and more.</td>
                  </tr>

                  <tr>
                    <td>Required Immunizations</td>
                    <td>All undergraduate and graduate students are covered under the new <a href="/immunizationpolicy.pdf" target="_blank"> UC Merced Campus Immunization Policy</a>. UC Merced has adopted the American College Health Association recommendations for Institutional Pre-Matriculation Immunizations and the recommendation of the Advisory Committee on Immunization Practice of the U.S. Centers for Disease Control. Simply go to the <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i> myHealth-Messaging</a>  and identify all of your immunizations and the dates they were received.</td>
                  </tr>


                  <tr>
                    <td>Insurance</td>
                    <td>All students are required to have major medical insurance to complement health coverage provided at the Health Center. Learn more about the Student Health Insurance Plan (<a><%= link_to "SHIP", insurance_path %>).</td>
                  </tr>


                  </table>

                </p>
            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Welcome New Students!</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
        <center>
                <img class="img-responsive" src="../assets/newstudents.JPG">
        </center>
        <br>
            </div>
        </div>
    </div>

</div>
</div>





