<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
            </li>
<script>
  (function() {
    var cx = '002427590089681865656:wa4fpmeqldk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>


<li class="sidebar-search">
<form action="/search"  accept-charset="UTF-8" method="get" id="google-cse-searchbox-form">
  <div>

    <input type="hidden" name="cx" value="002427590089681865656:wa4fpmeqldk" />
    <input type="hidden" name="ie" value="UTF-8" />



                            <div class="input-group custom-search-form">
                                <input type="text" name = "q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>             
                                    <div style="display:none;">
                                        <input type="checkbox"  name="sitesearch" value="http://health.ucmerced.edu" checked />Search the UC Merced Health Services Website<br />
                                    </div>


                            </span>
                            </div>
  </div>
</form>
</li>



            <li class="<%= is_active_controller('dashboards') %>">
                <a href="/"><i class="fa fa-paw fa-fw"></i> </i> <span class="nav-label">Home</span>
                </a>
            </li>


            <li class="<%= is_active_controller('appviews') %>">
                <a href="hours"><i class="fa fa-clock-o fa-fw"></i> <span class="nav-label">Hours</span>
                </a>
            </li>

 
            <li class="<%= is_active_controller('appviews') %>">
                <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i><span class="nav-label">myHealth-Messaging</span> </a>
            </li>

             <li class="<%= is_active_controller('appviews') %>">
                <a href="payments"><i class="fa fa-money fa-fw"></i><span class="nav-label">Pay For Services</span> </a>
            </li>

             <li class="<%= is_active_controller('appviews') %>">
                <a href="meetthestaff"><i class="fa fa-users fa-fw"></i><span class="nav-label">Meet The Staff</span> </a>
            </li>

             <li class="<%= is_active_controller('appviews') %>">
                <a href="/immunizationpolicy.pdf"><i class="fa fa-medkit fa-fw"></i><span class="nav-label">Immunization Policy</span> </a>
            </li>

            <li class="<%= is_active_controller('appviews') %>">
                <a href="http://prevent-violence.ucmerced.edu"><i class="fa fa-heart fa-fw"></i><span class="nav-label">Violence Prevention</span> </a>
            </li>

            <li class="<%= is_active_controller('appviews') %>">
                <a href="heroes"><i class="fa fa-rocket fa-fw"></i><span class="nav-label">Heroes</span> </a>
            </li>

        </ul>

    </div>
</nav>