<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
           <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <div class="navbar-header">
                <a class = "navbar-brand" href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">
                <img alt="image" class="img-responsive" src="<%= image_path('ucm4.svg') %>"/>
                </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
 
    
          <li class="dropdown">
            <%= link_to about_path, :class => "whitelink" do %>
                  About <span class="caret"></span></a>
                  <% end %> 
                <ul role="menu" class="dropdown-menu">
                    <li>
                            <%= link_to root_path do %>
                            <i class="fa fa-paw fa-fw"></i>  Home
                            <% end %>
                    <li>
                    <li>
                            <%= link_to meetthestaff_path do %>
                            <i class="fa fa-users fa-fw"></i> Meet The Staff
                            <% end %>
                    </li>
                    <li>
                            <%= link_to hours_path do %>
                            <i class="fa fa-clock-o fa-fw"></i>  Hours
                            <% end %>
                    </li>
                    <li>
                            <%= link_to confidentiality_path do %>
                            Confidentiality & Privacy
                            <% end %>
                    </li>
                    <li>
                            <%= link_to patientrights_path do %>
                            Patient Rights
                            <% end %>
                    </li>
                </ul>
            </li>


          <li class="dropdown">
            <%= link_to services_path, :class => "whitelink" do %>
                  <i class="fa fa-stethoscope fa-fw"></i>Services <span class="caret"></span></a>
                  <% end %> 
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "Appointments", appointments_path %></li>
                    <li><%= link_to "Nurses' Clinic", nursesclinic_path %></li>
                    <li><%= link_to "Immunizations", immunizations_path %></li>
                    <li><%= link_to "Health Promotion", healthpromotion_path %></li>
                    <li><%= link_to "ADHD", adhd_path %></li>
                    <li><%= link_to "HIV Testing", hivtesting_path %></li>
                    <li><a href="http://counseling.ucmerced.edu/"> Counseling (CAPS)</a></li>
                    <li>
                            <%= link_to womenshealth_path do %>
                            <i class="fa fa-female fa-fw"></i>  Women's Health
                            <% end %>
                    </li>
                    <li>
                            <%= link_to menshealth_path do %>
                            <i class="fa fa-male fa-fw"></i>  Men's Health
                            <% end %>
                    </li>
                    <li>
                            <%= link_to travelclinic_path do %>
                            <i class="fa fa-plane fa-fw"></i>  Travel Clinic
                            <% end %>
                    </li>
                </ul>
            </li>



          <li class="dropdown">
            <%= link_to insurance_path, :class => "whitelink" do %>
                  <i class="fa fa-plus-square fa-fw"></i> Insurance <span class="caret"></span></a>
                  <% end %> 
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "Affordable Care Act", aca_path %></li>
                    <li><%= link_to "Benefits", benefits_path %></li>
                    <li><%= link_to "Confidentiality", confidentiality_path %></li>
                    <li><%= link_to "FAQ", faq_path %></li>
                    <li><%= link_to "Rates", rates_path %></li>
                    <li><%= link_to "Waiver", waiver_path %></li>

                </ul>
            </li>


          <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit fa-fw"></i> Resources <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><%= link_to "New Students", newstudents_path %></li>
                    <li><%= link_to "Parents", parents_path %></li>
                    <li><%= link_to "Forms Center", formscenter_path %></li>
                    <li><%= link_to "Emergency Care", emergency_path %></li>
                    <li><%= link_to "NCHA", ncha_path %></li>
                    <li><%= link_to "Online Resources", onlineresources_path %></li>
                    <li><%= link_to "Flu", flu_path %></li>
                </ul>
            </li>

            <li>
            <%= link_to contact_path, :class => "whitelink" do %>
                  <i class="fa fa-envelope fa-fw"></i> Contact </a>
                  <% end %> 
              </li>


            <li class ="dropdown">
                  <div id="google_translate_element"></div>
            </li>

    </ul>


       


</nav>
</div>